<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
  <link type="text/css" href="css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="script/jquery.min.js"></script>
  <script type="text/javascript" src="script/script.js"></script>
  
  <title>Quetzalito bolando...!</title>
</head>

<body class='night'>

  <section class='container nav'>
    <a href='/'>&nbsp/&nbsp</a>
    <a href='/clouds'>/clouds</a>
  </section>
  <section class='container input-add-nube'>
    <form method="post" action="/clouds" novalidate>
      <div class="form-field crear-nube">
        <div id='input-container-add-cloud'>
          <input class="input fresh" id="input-nube" name="name" value='crear nube...'></textarea>
          <div class="form-actions">
            <button disabled class="btn" type="submit">Crea!</button>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section id='see-clouds' class='container items clouds'>
    <% for (i in vars.clouds) { var c = vars.clouds[i] %>
      <%
         // check if this cloud is currently showed
         var isCurrent = (typeof vars.cloudId !== 'undefined') &&
                       (c._id.toString() == vars.cloudId.toString())
      %>
      <a href='/show?cloudId=<%= c._id %>' cloudId='<%= c._id %>'
         class="item cloud<% if(isCurrent == true) { %>
                current
                <%}%>")>
        <%= c.name %>
      </a>
    <% } %>
  </section>
  
  <section id='move-to-cloud' class='container items clouds' hidden='hidden'>
    <% for (i in vars.clouds) { var c = vars.clouds[i] %>
    
      <form method="post" action="/move" novalidate>
        <input type="hidden" name="cloudFrom" value="<%= vars.cloudId %>" />
        <input type="hidden" name="cloudTo" value="<%= c._id %>" />
        <button class="btn" type="submit"><%= c.name %></button>
      </form>
    <% } %>
  </section>
  <section class='container input-add'>
    <form method="post" action="/notes" novalidate>
      <div class="form-field nube-crear-nota fade-in">
        <div id='input-container'>
          <textarea class="input fresh" id="content" name="content"
                     rows="2" autofocus>estoy pensando a...</textarea>
        </div>
      </div>
      <div class="form-actions">
        <button disabled class="btn" type="submit">Sube!</button>
      </div>
    </form>
    
  </section>
              
  <%if (vars.notes !== undefined) {%>
    
    <!-- / :: show all notes  -->

    <section class='container items notes'>
      <div class='notes'>
        <% 
          for (i = 0; i < vars.notes.length; i++) {
            var itm = vars.notes[i]
            %>

            <span class='item note<%= itm.clouded ? " clouded" : "" %>' noteId='<%= itm._id %>'>
              <%= itm.content %>
            </span>
        
        <% } %>
      </div>
    </section>
  
  <% } else { %>
  
    <!-- /clouds :: show all clouds and their notes  -->
  
    <section class='container items notes'>
      <% for (i = 0; i < vars.clouds.length; i++) { var cloud = vars.clouds[i] %>

        <div class='cloud'>
          <div class='title'><%= cloud.name %></div>
          <div class='notes'>

            <% for (j = 0; j < cloud.items.length; j++) { var note = cloud.items[j] %>
              <span class='item note' noteId='<%= note._id %>'>
                <%= note.content %>
              </span>
            <% } %>

          </div>
        </div>

      <% } %>
    </section>
  
  <% } %>
</body>
</html>
